* {
    padding: 0;
    margin: 0;
}

#game-container {
        background: darkblue;
        width: 500px;
        max-height: 90vh;
        height: 600px;
        box-sizing: border-box;
        position: relative;
}

#map-container {
    background: darkblue;
    width: 500px;
    max-height: 90vh;
    height: 600px;
    box-sizing: border-box;
    position: relative;
    background-image: url("/images/main-background.png");
    background-size: cover;
    background-repeat: no-repeat;

}

#player {
    background: white;
    border: 1px solid black;
    width: 15px;
    height: 20px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    box-sizing: border-box;
    z-index: 50;
}

.map-square {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    position: relative;
    background: gray;
    float: left;
    z-index: -10;
}

.map-block {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background-image: url("/images/clouds.png");
    background-size: cover;
    float: left;
    z-index: 1;
}


.o {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: purple;
    float: left;
    z-index: 1;
}

.el {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: green;
    float: left;
    z-index: 1;
}

.er {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: rgb(151, 30, 101);
    float: left;
    z-index: 1;
}

#floor {
    width: 500px;
    height: 20px;
    background: rgb(47, 68, 255);
}

.dm {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background-image: url("/images/dim\ sum.png");
    background-size: cover;
    float: left;
    z-index: 1;
}

.ts {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: rgb(145, 26, 115);
    float: left;
    z-index: 1;
}

.te {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: rgb(221, 6, 192);
    float: left;
    z-index: 1;
}

#heaven {
    box-sizing: border-box;
    animation: stretch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
    animation-delay: 0s;
    animation-iteration-count: infinite;
    border-radius: 50px;
    border: none;
    width: 77px;
    height: 59px;
    position: relative;
    background-image: url("../images/heaven.jpg");
    background-size: cover;
    z-index: 1;
    position: absolute;
    top: 43px;
    left: 211.5px;
}

@keyframes stretch {
    0% {
        width: 77px;
        height: 59px;
    }
    50% {
        width: 91px;
        height: 79px;
    }
}

#picture {
    z-index: 1;
    background: gold;
}