* {
    padding: 0;
    margin: 0;
}

#game-container {
        background: darkblue;
        width: 500px;
        max-height: 100vh;
        height: 600px;
        box-sizing: border-box;
        position: relative;
}

#map-container {
    background: darkblue;
    width: 500px;
    max-height: 100vh;
    height: 600px;
    box-sizing: border-box;
    position: relative;

}

#player {
    background: white;
    border: 1px solid black;
    width: 15px;
    height: 20px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    box-sizing: border-box;
    z-index: 50;
    transform: translate3d(0px, 0px, 0px);
}

.map-square {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    position: relative;
    background: gray;
    float: left;
    z-index: -10;
}

.map-block {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: black;
    float: left;
    z-index: 1;
}


.o {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: purple;
    float: left;
    z-index: 1;
}

.el {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: green;
    float: left;
    z-index: 1;
}

.er {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: rgb(151, 30, 101);
    float: left;
    z-index: 1;
}

#floor {
    width: 500px;
    height: 20px;
    background: rgb(47, 68, 255);
}

.dm {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: rgb(223, 190, 44);
    float: left;
    z-index: 1;
}

.ts {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: rgb(145, 26, 115);
    float: left;
    z-index: 1;
}

.te {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    position: relative;
    background: rgb(221, 6, 192);
    float: left;
    z-index: 1;
}

#heaven {
    box-sizing: border-box;
    border: none;
    width: 77px;
    height: 59px;
    position: relative;
    background:white;
    z-index: 1;
    position: absolute;
    top: 73px;
    left: 211.5px;
}